*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.nav{
	background-color: #333333;
	display: flex;
	justify-content: flex-end;
}
.nav a{
	text-decoration:none;
	font-size: 18px;
	font-family: sans-serif;
	color: #a9a9a9;
	line-height: 80px;
	padding: 0px 20px;
}
.nav a:hover{
  	color: white;
}
#btn{
	display: none;
}
.btnarea{
	background-color: #333333;
	padding: 10px;
	display: flex;
	justify-content: flex-end;
	color: white;
}
.btnarea label{
	border: 1px solid white;
	border-color: #a9a9a9;
	border-radius: 6px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.btnarea label span{
	background-color: #a9a9a9;
	height: 4px;
	width: 60%;
	margin: 3px 0px;

}
.btnarea{
	display: none;
}

@media screen and (max-width: 984px)
{
	.nav
	{
		flex-direction: column;
		display: none;
	}
	#btn:checked + .nav
	{
		display: flex;
	}
	.btnarea
	{
		display: flex;
	}
}
.content h1{
	font-size: 40px;
	font-family: sans-serif;
	margin: 10px 10px;
}
.content p{
	text-align: justify;
	font-family: 'calibri';
	font-size: 20px;
	margin: 10px 10px;
}
